@import "bootstrap-sprockets";
@import "bootstrap";



  

body {
     margin: 0;
     background: url(http://wallpaper-gallery.net/images/green-background-wallpaper/green-background-wallpaper-6.jpg);
     background-size: 1920px 1080px;
    
     font: 13px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
     }

body { 
    padding-top: 65px; 
}

